html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.page {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.light-layer-1 {
  box-shadow: -3px -3px 5px 0px white;
}

.light-layer-2 {
  background-color: transparent;
  box-shadow: 3px 3px 5px 0px #E9EAEC;
  border-radius: 10px;
}

.light-layer-1:hover {
  box-shadow: inset -3px -3px 5px 0px white;
}

.light-layer-2:hover {
  box-shadow: inset 3px 3px 5px 0px #E9EAEC;
}

.light-layer-1.active {
  box-shadow: inset -3px -3px 5px 0px white;
}

.light-layer-2.active {
  box-shadow: inset 3px 3px 5px 0px #E9EAEC;
}
